.contact {
    display: flex;
    justify-content: center;
  
    &-box {
      width: 100%;
      max-width: 90rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1.1rem;
      margin-bottom: 6rem;
    }
    &-info {
      width: 50%;
      text-align: left;
      &-icons {
        display: flex;
        gap: 2rem;
        p {
          display: flex;
          gap: 1rem;
          font-size: 1.6rem;
          color: var(--color-grey);
        }
      }
    }
    &-header {
      font-size: 4.9rem;
    }
    &-paragraph {
      font-size: 1.6rem;
      margin-top: 2.2rem;
      margin-bottom: 4rem;
    }
    &-form {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    &-label {
      font-size: 1.1rem;
      color: var(--color-primary);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3.28px;
    }
    &-input {
      border: none;
      border-bottom: 1px solid var(--color-grey);
      margin-bottom: 5rem;
      margin-top: 2rem;
      padding: 1rem 0;
      outline: none;
      font-size: 1.6rem;
    }
    &-checkbox {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      appearance: none;
      border: 1px solid var(--color-grey);
      border-radius: 4px;
      cursor: pointer;
      &:checked {
        background-image: url("./assets/Checkmark.svg");
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &-legal {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
  
      p {
        font-size: 1.1rem;
        color: var(--color-grey);
        line-height: 17px;
      }
    }
  }
  
  .form-btn {
    align-self: flex-end;
    background-color: var(--color-primary);
    padding: 2rem 10rem;
    margin-top: 4rem;
  
    &:hover,
    &:active {
      background-color: var(--color-white);
      color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }