/* 1250px */

@media (max-width: 78.125rem) {
  .price-box {
    width: 30rem;
  }
}

/* 1200px */

@media (max-width: 75rem) {
  .benefit {
    flex-direction: column;
    width: 70%;
  }

  .benefit--1 {
    flex-flow: column-reverse;
  }

  .benefit-img--1 {
    margin-right: 0;
    margin-top: 8rem;
  }

  .benefit-img--2 {
    margin: 0;
    margin-top: 8rem;
  }

  .benefit--3 {
    gap: 0;
  }

  .benefit--3 .benefit-text {
    max-width: 100%;
  }

  .benefit-img--3 {
    min-width: 100%;
    min-height: auto;
  }
  .benefit-img--3 img {
    width: 80%;
    margin-top: 8rem;
  }
  .price-box {
    width: 28rem;
  }
}

/* 1000px */

@media (max-width: 62.5rem) {
  .pricing-columns {
    flex-direction: column;
  }
  .pricing-header {
    margin-bottom: 1.5rem;
  }

  .price-box {
    flex-direction: row;
    gap: 4rem;
    width: auto;
    min-width: 29.3rem;
    padding: 0;
    
  }

  .price-price {
    margin: 0;
    padding: 0 4rem;

  }

  .price-details {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
   flex-grow: 1;
  }

  .price-limited {
    margin: 0;
  }

  .price-btn {
   left: 50%;
   transform: translate(-50%,-50%);
  }
}
